In [4]:
%pip install -q yfinance

Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import numpy as np

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

In [21]:
import yfinance as yf
data = yf.download('AAPL', start ='2020-01-01', end='2023-01-01')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [22]:
from datetime import datetime

In [23]:
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [28]:
company_list = [AAPL, GOOG, MSFT, AMZN]
company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
df = pd.concat(company_list, axis = 0)
df.tail(10)

Price,Close,High,Low,Open,Volume,company_name,Close,High,Low,Open,...,Close,High,Low,Open,Volume,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,,GOOG,GOOG,GOOG,GOOG,...,MSFT,MSFT,MSFT,MSFT,MSFT,AMZN,AMZN,AMZN,AMZN,AMZN
Date,,,,,,,,,,,,,,,,,,,,,
2025-05-22,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,203.100006,205.759995,200.160004,201.380005,38938900.0
2025-05-23,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,200.990005,202.369995,197.850006,198.899994,33393500.0
2025-05-27,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,206.020004,206.690002,202.190002,203.089996,34892000.0
2025-05-28,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,204.720001,207.660004,204.410004,205.919998,28549800.0
2025-05-29,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,205.699997,208.809998,204.229996,208.029999,34650000.0
2025-05-30,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,205.009995,205.990005,201.699997,204.839996,51679400.0
2025-06-02,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,206.649994,207.000000,202.679993,204.979996,29113300.0
2025-06-03,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,205.710007,208.949997,205.029999,207.110001,33139100.0
2025-06-04,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,207.229996,208.179993,205.179993,206.550003,29866400.0
2025-06-05,NaN,NaN,NaN,NaN,NaN,AMAZON,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,208.505096,212.809998,207.559998,209.500000,39930555.0

In [29]:
AAPL.describe()

Price        Close        High         Low        Open        Volume
Ticker        AAPL        AAPL        AAPL        AAPL          AAPL
count   251.000000  251.000000  251.000000  251.000000  2.510000e+02
mean    223.002397  225.291427  220.282825  222.622893  5.606647e+07
std      15.219498   14.692907   15.682573   15.415151  3.239811e+07
min     172.194199  190.090729  168.988411  171.724805  2.323470e+07
25%     213.072014  215.001180  210.448204  212.642266  3.956285e+07
50%     223.962601  226.035461  222.223926  224.142099  4.731100e+07
75%     232.448898  234.210807  229.177168  232.393121  6.031885e+07
max     258.396667  259.474086  257.010028  257.568678  3.186799e+08